button:hover{
    cursor: pointer;
}
.round-edge,.btn{
    border-radius: 10px;
}
.green-bg{
    background-color: #719062;
    color:#fff;
}
.dark-grey-bg{
    background-color: #ddd;
}
.light-bg{
    background-color:#fff;
}
.border-light-radius{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
}
.home-map .col{
    min-height:400px;
}
h5{
    font-weight:bold;
}
img{
    max-width:100%;
}
.ea-table{
    width:100%;
}
.ea-table td{
    border: 1px solid gainsboro;
    padding:10px;
}
#ea-header,.ea-parent span:after{
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
/* tabs */
.ea-tabs .tab-child{
    display: none;
}
.ea-tabs .tab-parent{
    border: 1px solid gainsboro;
    padding:10px;
    border-radius: 10px;
    margin-bottom:30px;
}
.ea-tabs .tab-parent h3{
    font-size:22px;
    font-weight: bold;
}
.ea-tabs .tab-parent h3:hover{
    cursor: pointer;
}
/* Body */
#ea-body{
    background-color: #f5f5f5;
    position: absolute;
}

@media (min-width: 768px){
    #ea-body {
        padding-top: 148px;
    }
    .ea-content{
        padding: 0 20px;
    }
    .ea-content-full{
        padding: 0 35px;
    }
}
/* Body END*/
/* header */
#ea-header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    margin-top:0px;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .dropdown-menu.show {
        transform: translate3d(0px, 45px, 0px)!important;
    }
    #ea-header.scrollnav{
        margin-top:-100px;
    }
    .navbar-nav.ml-auto .dropdown-menu.show{
        left: auto!important;
        right: 0!important;
    }
    .nav-link{
        padding-top: 10px;
    }
    .nav-item input{
        margin-top: 4px;
    }
}
/* header END */
/* slider */
.ea-slider img{
    max-width:100%;
}
.carousel-multi-item .controls-top .btn-floating {
    background: #719062;
}
.carousel-multi-item .controls-top .btn-floating:hover {
    background: #004101;
}
.carousel-multi-item .carousel-indicators li {
    background-color: #719062;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #004101;
}
/* Footer */
@media (min-width: 768px){
    footer .container-fluid{
        padding-left: 45px!important;
        padding-right: 45px!important;
        font-size: 14px;
    }
    footer img{
        max-height: 100px;
    }
}
/* Footer END */
/* Home page */
.ea-home-maps img{
    max-width:100%;
    width:100%;
}
.ea-home-maps h5{
    padding-top:15px;
}
.ea-home-maps a:hover{
    background-color:#f9f9f9;
}
@media (min-width: 768px){
    .ea-home-maps .col{
        width:20%;
    }
}
/* Home page END */
/* Side navigation */
.ea-side-nav{
    list-style: none;
    padding: 0;
}
.ea-side-nav li{
    padding: 5px 0 5px 15px;
    font-size: 15px;
}
.ea-side-nav li:hover{
    cursor: pointer;
}
.ea-parent span {
    position:relative;
}
.ea-parent span:after {
    display: block;
    position: absolute;
    top:6px;
    left: -19px;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transform: rotate(-90deg);
}
.ea-parent span.ea-open-child:after {
    transform: rotate(0deg);
}
.ea-child{
    display:none;
}
/* Side navigation END*/
/* map iframe */
.ea-map-frame{
    border: none;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}
/* map iframe END */
/* overwrites */
.btn-success {
    background-color: #719062!important;
    border-color: #719062!important;
}
.btn-success:hover {
    background-color: #004101!important;
    border-color: #004101!important;
}

.btn-success-active {
    background-color: #004101!important;
    border-color: #004101!important;
}


