/* Icon links */
.ea-links{
    text-align: right;
    list-style: none;
    padding:0;
}
.ea-links li{
    float:right;
    margin-left:20px;
}

.ea-links a{
    color:#000;
    font-size:30px;
}
/* Custom Tooltip */
.tooltip-ea{
    display: inline;
    position: relative;
}
.tooltip-ea:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-size:14px;
    text-align: left;
}
.tooltip-ea-r:hover:after {
    bottom: 41px;
    right: 20%;
    left: auto;
    margin-right: -14px;
}
.tooltip-ea:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.tooltip-ea-r:hover:before {
    bottom: 36px;
}
button.tooltip-ea{
    overflow: visible;
}
button.tooltip-ea:hover:before {
    bottom: 59px;
}
button.tooltip-ea:hover:after {
    bottom: 64px;
    right: -4%;
    text-transform: none;
    width: 300px;
    background: #333;
    box-shadow: 0 0 3px 0 #000;
}
/* Custom Tooltip END*/